* {box-sizing: border-box;}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10em;
    background-color: yellow;
    display: flex;
}

section {
    flex-grow: 1;
    background-color: aqua;
    max-width: 60%;
    height: 100px;
}

aside {
    width: 300;
    height: 300;
    background-color:aquamarine
    
}