.container {
    flex-wrap: wrap;
    justify-content: center
    width: 950px;
    height: 730px;
    background-color: rgb(39, 39, 39);
}

.flex {
    display: flex;
    flex-wrap: wrap;

}

.hijoarriba {
    margin-right: 100px;
    width: 200px;
    height: 200px;
    background-color: rgb(117, 117, 117);
    border: 2px solid rgb(197, 197, 197)
    
}

image {
width: 100px;    
height: 100px;
object-fit: cover;

}

